* {
    font-family: "Rimouski";
    box-sizing: border-box;
}

body {
    background-color: #293251;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.container {
    width: 90%;
    max-width: 350px;
    background-color: #FFF;
    border-radius: 15px;
    padding-bottom: 30px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    text-align: center;
}


.app-title {
    background: #f4f9ff;
    border-radius: 15px 15px 0 0;
}

.app-title p {
    font-size: 1.5em;
    color: #293251;
    font-weight: bold;
    margin: 0;
    padding: 15px;
}


.notification {
    background-color: #f8d7da;
    display: none;
}

.notification p {
    color: #721c24;
    font-size: 1.1em;
    margin: 0;
    text-align: center;
    padding: 10px 0;
}


.weather-container {
    background-color: #F4F9FF;
    border-radius: 0 0 15px 15px;
    padding: 20px 0;
}


.weather-icon img {
    width: 60%;
    max-width: 180px;
    height: auto;
    display: block;
    margin: 0 auto 10px auto;
}


.temperature-value p {
    color: #293251;
    font-size: 3.5em;
    margin: 10px 0;
    cursor: pointer;
}

.temperature-value span {
    font-size: 0.5em;
}


.temperature-description p {
    color: #293251;
    font-size: 1.3em;
    margin: 5px 0;
}


.location p {
    color: #293251;
    font-size: 1em;
    font-weight: 500;
    margin: 5px 0;
}
